body{
    background: cover;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/625/691/original/vector-abstract-geometric-blue-polygonal-background.jpg);
}

.wrapper{
    width: 60%;
    height: 50%;
    background: rgba(224,255,255);
    margin: auto;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.container{
    padding: auto;
    margin: auto;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing:initial;

}

h1{
    text-align: center;
    
}


textarea{ 
  height: 80px;
    width: 100%;
  resize: horizontal   ;
}



table{
    margin: auto;
    padding-bottom: auto;
}

table td{
    padding: 10px;
}

button{
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background-color: cadetblue;
}






    

